body {
    /* Main background image with styling */
    /* background-image: url("images/background.jpg"); */
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.start {
    min-width:100px;
    height:50px;
    margin-bottom: 150px;
    text-transform: uppercase;
    padding: 15px;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 45%;
    transform: translate(-1%, -3%);
}
.start:hover {
    background-color: lightgrey;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(-1%, -1%);
    transition: all 0.1s ease-in;
}
.start:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

.player-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}

.player-container, .player-selection, .score {
    display: flex;
}

.container {
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
}

.gamecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

img {
    height: 50px;
    width: 50px;
}
img:hover {
    animation: wiggle 75ms infinite;
}

@keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
}
.player-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.hide {
    display: none;
}